<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# Assurez-vous que ces fichiers sont accessibles directement
<Files "robots.txt">
  Order allow,deny
  Allow from all
</Files>

<Files "sitemap.xml">
  Order allow,deny
  Allow from all
</Files>